<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <title>HOME</title>
</head>

<body style="padding-top: 70px;">
    <nav style="z-index: 1;" class="navbar navbar-default fixed-top navbar-light shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">Tweeter</a>
            <div class="">
                <div class="navbar-nav">
                    {% if request.user.is_authenticated %}
                    <a  href="{% url 'logout' %}" class="nav-link">Logout</a>
                    <a  href="{% url 'post_add' %}" class="nav-link">Posts</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 order-md-0 order-1">
                {% include 'auth/message.html' %}
                <div class="border-right">
                    <h1>Feeds</h1>
                    {% for post in followers_post_page_obj %}
                    <div class="card px-2 mr-2 mb-2 shadow">
                        <div class="card-body">
                            <p class="m-0 font-weight-bold">{{post.title}}</p>
                            <p>{{post.description}}</p>
                        </div>
                        <img class="card-img-bottom mb-2 rounded" height="400"
                            src="{{post.image.url}}" />
                    </div>
                    {% endfor %}
                    <div class="pagination">
                        <span class="step-links">
                            {% if followers_post_page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ followers_post_page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ followers_post_page_obj.number }} of {{ followers_post_page_obj.paginator.num_pages }}.
                            </span>

                            {% if followers_post_page_obj.has_next %}
                                <a href="?page={{ followers_post_page_obj.next_page_number }}">next</a>
                                <a href="?page={{ followers_post_page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 order-md-1 order-0">
                <div>
                    <h1>Users</h1>
                    {% for follow in user_not_follow_page_obj %}
                    <div class="p-1 mb-2 shadow-sm">
                        <p class="m-0">{{ follow.first_name }} {{ follow.last_name }}</p>
                        <a href="{% url 'follow' pk=follow.id %}" class="text-primary">+ Follow</a>
                    </div>
                    {% endfor %}
                    <div class="pagination">
                        <span class="step-links">
                            {% if user_not_follow_page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ user_not_follow_page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ user_not_follow_page_obj.number }} of {{ user_not_follow_page_obj.paginator.num_pages }}.
                            </span>

                            {% if user_not_follow_page_obj.has_next %}
                                <a href="?page={{ user_not_follow_page_obj.next_page_number }}">next</a>
                                <a href="?page={{ user_not_follow_page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>

</html>







<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--{% include 'auth/message.html' %}-->
<!--<form action="{% url 'logout' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    <button type="submit">Logout</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->